body {
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background: url('../mountains.jpg');
  background-repeat: no-repeat;
  background-size: 2000px 1000px;
  flex-direction: column;
  background-attachment: fixed;
}

h1{
  font-size: 30px;
  text-align: center;
}
.hero-body {
  background-color: royalblue;
}

.container {
  margin-top: 200x;
  position: center;
  text-align: center;
  height: 150px;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 0 10px 2px;
}

.column {
  text-align: center;
  margin-left: 20px;
}

.foot{
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  width: 100%;
  color: azure;
}

p, a {
  color: azure;
  font-size: 25px;
}

.five-day-cards {
  display: inline-block;
  margin: 30px;
}

.five-day-cards p {
  color: black;
  font-size: 20px;
  
}

.footer-title{
  font-family: Allura, cursive;
  font-size: 40px;

}